


  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>
            <div class="avatar">
              <div class="w-12 rounded">
                <img src="https://flagcdn.com/w320/mx.png" alt="Bandera" />
              </div>
            </div>
          </td>
          <td>Mexico</td>
          <td>126,700,000</td>
          
        </tr>
        <tr>
          <th>2</th>
          <td>
            <div class="avatar">
              <div class="w-12 rounded">
                <img src="https://flagcdn.com/w320/ca.png" alt="Bandera" />
              </div>
            </div>
          </td>
          <td>Canada</td>
          <td>38,250,000</td>  
        </tr>
      </tbody>
    </table>
  </div>